/TestaCaracteres.class
/TestaCondicional.class
/TestaCondicional2.class
/TestaEscopo.class
/TestaFor.class
/TestaForOpcional.class
/TestaIR.class
/TestaLacos.class
/TestaLacos2.class
/TestaMes.class
/TestaNumeroFatorial.class
/TestaPontoFlutuante.class
/TestaSomatoria.class
/TestaValores.class
/TestaVariaveis.class
/TestaWhile.class
/TesteConversao.class
/TesteIR.class
